body {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
}

.image-section {
  width: 40%;
  height: 100vh;
  min-height: 750px;
  background-image: url(../Resources/images/hospital-signup-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 750px;
}

.form-container-title-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
}
